useDynLib(crauttools, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

export(download.gdrive)
importFrom(checkmate,checkPathForOutput)
importFrom(stringr,str_match)
importFrom(readr,read_file)